/* Estilos para la tarjeta en el Storybook */
.card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-content img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.card-footer {
  display: flex;
  justify-content: end;
  margin-right: 20px;
}
