<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <rlv-input
    formControlName="name"
    [placeholder]="'Nombre'"
    [type]="'text'"
    [disabled]="false"
    (valueChange)="valueChange($event)"
    [required]="true"
  ></rlv-input>
  <rlv-input
    formControlName="email"
    [placeholder]="'Correo Electrónico'"
    [type]="'email'"
    [disabled]="false"
    (valueChange)="valueChange($event)"
    [required]="true"
  ></rlv-input>
  <rlv-input
    formControlName="password"
    [placeholder]="'Contraseña'"
    [type]="'password'"
    [disabled]="false"
    (valueChange)="valueChange($event)"
    [required]="true"
  ></rlv-input>

  <rlv-cta-button
    class="submit-button"
    type="submit"
    [type]="'primary'"
    [size]="'medium'"
    [label]="'Enviar'"
    [loading]="false"
    [fullWidth]="false"
    [disabled]="myForm.invalid"
  ></rlv-cta-button>
</form>
